.hidden {
  display: none; }

pre.debug_dump {
  display: none; }

body {
  margin: 0;
  padding: 0; }

header, .content-blok, footer {
  padding-left: 1vw;
  padding-right: 1vw;
  width: 38vw; }

body, footer {
  background-color: moccasin; }

header, .content-blok {
  background-color: papayawhip; }

#map {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100%;
  margin: 0; }

.content-blok {
  padding-top: 2vh;
  padding-bottom: 2vh; }

p.field-prompt {
  margin: 0;
  padding-bottom: 1vh;
  font-size: 3vmin; }

header {
  padding-top: 2vh;
  padding-bottom: 2vh; }
  header h1 {
    font-size: 6vmin;
    margin: 0;
    float: left; }
  header p {
    font-size: 3vmin;
    margin: 0;
    clear: both; }

footer nav {
  padding-top: 2vh;
  padding-bottom: 2vh; }
  footer nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  footer nav li {
    font-size: 3vmin;
    margin: 0 1vw 0 0;
    display: inline; }

h2 {
  margin: 0;
  font-size: 4vmin; }

div.field {
  position: relative; }

button {
  height: 6vh;
  font-size: 3vmin;
  border-radius: 1vh; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__input, div.field input {
  width: 34vw;
  height: 7vh;
  padding: 0 1vw;
  font-size: 3vmin;
  font-family: serif;
  border: .1vh solid #aaa;
  border-radius: 1vh; }

.react-autosuggest__input:focus, div.field input:focus {
  outline: none; }

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 7.2vh;
  width: 36vw;
  /* Should always be 2vh higher than .react-autosuggest__input */
  font-size: 3vmin;
  font-family: serif;
  border: .1vh solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 2vh 1vw; }

.react-autosuggest__suggestion--focused {
  background-color: #ddd; }

.leaflet-bar-part-single {
  height: 36px !important;
  width: 36px !important;
  line-height: 36px !important;
  padding-top: 12px; }
  .leaflet-bar-part-single span.icon-crosshairs, .leaflet-bar-part-single span.icon-clock-o {
    font-size: 26px; }

.leaflet-control-slider a {
  color: black; }

.leaflet-control-slider-plus, .leaflet-control-slider-minus {
  font-family: icomoon;
  cursor: pointer; }

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font-family: icomoon;
  font-weight: normal;
  font-size: 22px !important;
  height: 36px !important;
  width: 36px !important;
  line-height: 36px !important; }
