<div id="search-form"></div>

<noscript>
  <h2><%= t('.javascript_disabled_heading') %></h2>
  <p><%= t('.javascript_disabled_html') %></p>
  <%= link_to t('.simple_form_label'), simple_search_index_path %>
</noscript>
