<% provide(:title, t('static_pages.about.title')) %>
<% provide(:description, t('static_pages.about.description')) %>

<div class="content-blok">
  <h2>
    What is this thing?
  </h2>
  <p>
    The Rapt Map helps you find and share emails with others who share your interests at a specific location.
  </p>
</div>
