$blok-vertical-padding: 2vh;
$blok-horizontal-padding: 1vw;
$map-width: 60vw;
$form-width: 38vw;

.hidden {
  display: none;
}

pre.debug_dump {
  display:none;
}

body {
  margin: 0;
  padding: 0;
}

header, .content-blok, footer {
  padding-left: $blok-horizontal-padding;
  padding-right: $blok-horizontal-padding;
}

body, footer {
  background-color: moccasin;
}

header, .content-blok {
  background-color: papayawhip;
}

div#main {
  width: $form-width;
}

#map {
  position: absolute;
  top:0;
  right: 0;
  width: $map-width;
  height: 100%;
  margin: 0;
}

.content-blok {
  padding-top: $blok-vertical-padding;
  padding-bottom: $blok-vertical-padding;
}

p.field-prompt {
  margin: 0;
  padding-bottom: 1vh;
  font-size: 3vmin;
}

header {
  padding-top: $blok-vertical-padding;
  padding-bottom: $blok-vertical-padding;
  h1 {
    font-size: 6vmin;
    margin: 0;
    float: left;
  }
  p {
    font-size: 3vmin;
    margin: 0;
    clear: both;
  }
}


footer nav {
  padding-top: $blok-vertical-padding;
  padding-bottom: $blok-vertical-padding;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    font-size: 3vmin;
    margin: 0 1vw 0 0;
    display: inline;
  }
}

h2 {
  margin: 0;
  font-size: 4vmin;
}

div.field {
  position: relative;
}

button {
  height: 6vh;
  font-size: 3vmin;
  border-radius: 1vh;
}

div.warn input {
  border: .1vh solid rgba(204, 0, 0, 1);
  animation: border-pulsate 2s infinite;
}

@keyframes border-pulsate {
  0% { border-color: rgba(204, 0, 0, 1); }
  50% { border-color: rgba(204, 0, 0, 0); }
  100% { border-color: rgba(204, 0, 0, 1); }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input, div.field input {
  width: 34vw;
  height: 7vh;
  padding: 0 1vw;
  font-size: 3vmin;
  font-family: serif;
  border: .1vh solid #aaa;
  border-radius: 1vh; }

.react-autosuggest__input:focus, div.field input:focus {
  outline: none; }

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container {
  display: none; }

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 7.2vh;
  width: 36vw; /* Should always be 2vh higher than .react-autosuggest__input */
  font-size: 3vmin;
  font-family: serif;
  border: .1vh solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  z-index: 2; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 2vh 1vw;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

.leaflet-bar-part-single {
  height: 36px !important;
  width: 36px !important;
  line-height: 36px !important;
  padding-top: 12px;
  span.icon-crosshairs, span.icon-clock-o {
    font-size: 26px;
  }
}

.leaflet-control-slider a {
  color: black
}

.leaflet-control-slider-plus, .leaflet-control-slider-minus {
  font-family: icomoon;
  cursor: pointer;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font-family: icomoon;
  font-weight: normal;
  font-size: 22px !important;
  height: 36px !important;
  width: 36px !important;
  line-height: 36px !important
}
